<head>
    <style>
    
    .kir {
        word-break: break-all;
    }
    </style>
    <body>
        <div class="kir">
            <p style="display: inline;">adkddddddddddddddddddddddddddddddddadkddddddddddddddddddddddddddddddddadkddddddddddddddddddddddddddddddddadkddddddddddddddddddddddddddddddddadkddddddddddddddddddddddddddddddddadkddddddddddddddddddddddddddddddddadkddddddddddddddddddddddddddddddddadkddddddddddddddddddddddddddddddddadkddddddddddddddddddddddddddddddddadkddddddddddddddddddddddddddddddddadkddddddddddddddddddddddddddddddddadkddddddddddddddddddddddddddddddddadkddddddddddddddddddddddddddddddddadkddddddddddddddddddddddddddddddddadkddddddddddddddddddddddddddddddddadkddddddddddddddddddddddddddddddddadkddddddddddddddddddddddddddddddddadkddddddddddddddddddddddddddddddddadkddddddddddddddddddddddddddddddddadkddddddddddddddddddddddddddddddddadkdddddddddddddddddddddddddddddddd</p>
        </div>
    </body>
</head>